*~
tramp
auto-save-list
url
*.elc
elpa/
quelpa/
melpa/
projectile*
var/
bookmarks
session.*
.DS_Store
ac-comphist.dat
ensime/
ido.last
.tern-port
transient/
workspace/
.eln-cache/
eln-cache/
tree-sitter/
.dap-breakpoints
.cache/
.lsp-session*
projects
recentf
org-roam.db
